PORT=5000
JWT_SECRET=replace-with-a-long-random-secret
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>
OPENAI_API_KEY=
AI_MOCK_MODE=true
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjY4N2MwMDJkYTM1MDRkN2M5ZjJkZTcwY2IwYjBiYjllIiwiaCI6Im11cm11cjY0In0=
ORS_BASE_URL=https://api.heigit.org/openrouteservice/v2
OVERPASS_URL=https://overpass-api.de/api/interpreter
